/* Add CSS styling here */

/* Global CSS */

html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%; 
font: inherit;  
vertical-align: baseline;  
}


* {
  box-sizing: border-box;
  border: 1px solid black;
  text-decoration: none;
  list-style-type: none;

}


html {
  font-size: 62.5%;
}

h1 .name {
  font-size: 2.6rem;

}

h1 .name2 {
  font-size: 2.6rem;

}


header {
  display: flex;
  flex-direction: column;
  background:lightgrey;
  height: 10vh;
  padding: 2px;
}

header .name {
  font-size: 3.2rem;
  padding: 5px;
  
}

header nav {
  flex: row;
  justify-content: center;
  font-size: 2.2rem;
  padding: 10px;
}

header nav .button {
  background: white;
  color: black;
  border: 2px solid black;
 
}

header .button:hover {
  background: #2079b0;
}

intro {
  display: flex;
  padding: 4px;
}

intro img {
  display: flex;
  align-items: left;
  object-fit: contain;
}

intro div {
  display: column;
  justify-content: space-evenly;
  padding: 10px;
}

intro .name2 {
  font-size: 34px;
  padding: 5px;
  
}

intro div .button {
  flex: row;
  justify-content: center;
  font-size: 1.6rem;
  color: black;
  border: 2px solid black;
 
}

intro .button:hover {
  background: #2079b0;
}

intro div p {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.2rem;

}

projects1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px 4px 10px 2px;

}

projects2 ul {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 4px 10px 2px;
  
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 30px 4px 10px 2px;
}

footer p {
  display: flex;
  font-size: 2.2rem;
  

}

footer .button {
  background: white;
  color: black;
  border: 2px solid black;
  padding: 4px;

}

footer .button:hover {
  background: #2079b0;
  padding: 4px;
}

/* Small size, less than 500 */

@media (max-width: 499.98px) {
  intro {
    display: flex;
    flex-direction: column;
    align-items: left;
    
  }

  intro img {
    display: flex;
    object-fit: contain;
  }

  intro div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  intro div .button {
    flex: row;
    justify-content: center;
    font-size: 1.6rem;
    padding: 6px;

  }


  projects1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
     
  }

  projects2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 4px 2px 4px 2px;

  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 2px 2px 2px;

  }

  footer .button {
    flex: row;
    justify-content: center;
    font-size: 1.6rem;
    padding: 4px;

  }


}


/* Medium size, less than 800 */
@media (max-width: 799.98px) {

  header {
    display: flex;
    flex-flow: column;
    align-items: center;

  }

  projects1 ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
     
  }

  projects2 ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 4px 2px 4px 2px;

  }

  intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    
  }



}



















